<div class="chat">
	<img src="{{ current_user['picture']['data']['url'] }}" title="{{current_user['name']}}" class="photo">
	<div class="txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
	<img src="{{ current_user['picture']['data']['url'] }}" title="{{current_user['name']}}" class="myphoto">
	<div class="txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
	<img src="{{ current_user['picture']['data']['url'] }}" title="{{current_user['name']}}" class="photo">
	<div class="txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
	<img src="{{ current_user['picture']['data']['url'] }}" title="{{current_user['name']}}" class="myphoto">
	<div class="txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
	<img src="{{ current_user['picture']['data']['url'] }}" title="{{current_user['name']}}" class="photo">
	<div class="txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
	<img src="{{ current_user['picture']['data']['url'] }}" title="{{current_user['name']}}" class="myphoto">
	<div class="txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
	<img src="{{ current_user['picture']['data']['url'] }}" title="{{current_user['name']}}" class="photo">
	<div class="txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
	<img src="{{ current_user['picture']['data']['url'] }}" title="{{current_user['name']}}" class="myphoto">
	<div class="txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
</div>


<form action="/a/message/new" method="post" id="messageform">
	<input type="text" name="body" id="message">
	<input type="submit" value="{{ _("Post") }}">
	<input type="hidden" name="next" value="{{ request.path }}">
</form>