<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Tornado Chat Demo</title>
    <link rel="stylesheet" href="{{ static_url("styles.css") }}">
</head>
<body>
    <div id="body" {% if bg %}style="background-image:url('{{ bg }}')"{% end %}>
        <div class="nav">
            Tornado Chat Demo
            <div class="menu">
                <span></span>
            </div>
        </div>
        <div id="inbox">
            {% for message in messages %}
              {% include "message.html" %}
            {% end %}
        </div>
    </div>
    <div id="input">
        <form action="/a/message/new" method="post" id="messageform">
            <input type="text" name="body" id="message" placeholder="___________________________________________">
            <button type="submit" value="{{ _("Post") }}"></button>
            <input type="hidden" name="next" value="{{ request.path }}">
            {% module xsrf_form_html() %}
        </form>
    </div>
    <div class="overlay"></div>
    <div class="userInfo">
        <div class="head">
            <img src="{{ current_user["picture"]["data"]["url"] }}" alt="">
            {{ escape(current_user["name"]) }}
        </div>
        <div class="info">
            <a href="/auth/logout">{{ _("Sign out") }}</a> 
            <a href="/">{{ _("Refresh stream") }}</a>
            <a href="#" class="getbg">Change background</a>
            <div class="bg"></div>
            <a href="#">Settings</a>
        </div>
    </div>
    <script src="{{ static_url("jquery.js") }}"></script>
    <script src="{{ static_url("functions.js") }}"></script>
</body>
</html>
