<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Tornado Chat Demo</title>
    <link rel="stylesheet" href="{{ static_url("styles.css") }}">
</head>
<body>
    <div id="body">
        <div class="nav">
            <b>{{ escape(current_user["name"]) }}</b> -
            <a href="/auth/logout">{{ _("Sign out") }}</a> | 
            <a href="/">{{ _("Refresh stream") }}</a>
        </div>
        <div id="inbox">
            {% for message in messages %}
              {% include "message.html" %}
            {% end %}
        </div>
    </div>
    <div id="input">
        <form action="/a/message/new" method="post" id="messageform">
            <input name="body" id="message">
            <input type="submit" value="{{ _("Post") }}">
            <input type="hidden" name="next" value="{{ request.path }}">
            {% module xsrf_form_html() %}
        </form>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
    <script src="{{ static_url("functions.js") }}"></script>
</body>
</html>
